<% include partials/head.ejs %>

<div class="content-padding clearfix">
<div class="row">
<div class="col-md-4">
  <img src="/images/ipad.png"/>
  <p> Sponsor Name </p>
</div>
<div class="col-md-4">
  <img src="/images/ipad.png"/>
  <p> Sponsor Name </p>
</div>
<div class="col-md-4">
  <img src="/images/ipad.png"/>
  <p> Sponsor Name </p>
</div>
<div class="col-md-4">
  <img src="/images/ipad.png"/>
  <p> Sponsor Name </p>
</div>
</div>
</div>

<% include partials/footer.ejs %>
<% include partials/scripts.ejs %>
</body>
</html>
