<% include partials/head.ejs %>

<div class="content-padding clearfix">
<h3> There are no videos available yet. </h3>
</div>

<% include partials/footer.ejs %>
<% include partials/scripts.ejs %>
</body>
</html>
